.splash {

}

.splash-s1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
}

.splash-title {
  grid-row: 1/2;
  grid-column: 1/6;
  justify-self: end;
  align-self: end;
  z-index: 1;
  font-size: 4em;
  font-family: gotham-medium;
  padding-right: 40px;
}

.splash-subtitle {
  /* grid-area: s; */
  grid-row: 2/-1;
  grid-column: 1/6;
  justify-self: end;
  padding-right: 40px;
  font-size: 1.5em;
  font-family: gotham-light;
}

.splash-img1 {
  height: 75vh;
  /* grid-area: i; */
  grid-row: 1/-1;
  grid-column: 6/-1;
  /* padding-top: 30px; */

}
