.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: orange;
  position: absolute;
  bottom: 0;

  padding: 2em .5em;
  font-size: .7em;
  width: 100%;
  box-sizing: border-box;
}

.footer > * {
  padding: 0px 5px;
  text-decoration: none;
}
