:root {
  --nav-height: 100px;
}

.header {
  position: fixed;
  width: 100%;
  background: orange;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header > * {
  padding: 0.5rem;
  margin: 0 0.5rem;
  font-size: 0.75rem;
  font-family: gotham-light;
  /* background: gray; */
}

.header-displacer {
  height: var(--nav-height);
}

.header-logo {
  width: 2rem;
  border-radius: 1.5rem;
  /* margin: 0.2rem 0.5rem; */
}

.search {
  min-width: 150px;
  max-width: 400px;
  background: white;
}
