:root {
  --main-video-width: 80vw;
  --main-video-height: 40vh;
}

.home {
  margin: 25px auto;
  width: 90%;
  max-width: var(--max-width);
}

.home-feed-title {
  font-size: 1.5em;
  font-family: GOTHAM-BLACK;
  margin-bottom: 15px;
}
