.newsfeed {
  margin: 25px auto;
  width: 90%;
  max-width: var(--max-width);
}

.newsfeed > main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "f f f f f f f f s s s s";
}

.newsfeed-video-all {
  grid-area: f;
}

.newsfeed-side-right {
  grid-area: s;
  display: flex;
  flex-direction: column;
}
